#tooltiptext {
  display: block;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
}

.color-key {
  background: linear-gradient(to right,
      hsl(5, 69%, 54%) 0%,
      hsl(29, 71%, 51%) 17%,
      hsl(54, 74%, 47%) 33%,
      hsl(78, 76%, 44%) 50%,
      hsl(102, 78%, 41%) 67%,
      hsl(127, 81%, 37%) 83%,
      hsl(151, 83%, 34%) 100%);
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0 5px;
  text-align: left;
  font-size: 1.0em;
  line-height: 1.0em;
  height: 20px
}

#data-caret {
  margin-left: -5px;
  display: none;
  font-size: 14px;
  width: 14px
}

#legend {
  display: flex;
  display: -webkit-box;
  padding-top: 7px
}