extends layout

block head
  script var geoJSON = '#{geoJSON}'
  script(src="javascripts/index.js")

block content
  h1= title
  p(id="textField")
  div(id="map" style="height:400px; width:100%")
  script(defer src="https://maps.googleapis.com/maps/api/js?key="+key+"&callback=initMap&v=weekly")
